/* 这个文件里写的是全局样式,在各个页面都生效 */
body, html {
  margin: 0;
  padding: 0;
  width: 100%;
  user-select: text;
  font-size: 14px;
  font-family: 'pingfang SC','helvetica neue',arial,'hiragino sans gb','microsoft yahei ui','microsoft yahei','simsun',sans-serif;
  -webkit-overflow-scrolling: touch;
  overflow-x: hidden;
}
html {
  background-color: #efdbdc;
  background-repeat: no-repeat;
  background-position: center top;
  background-size: 100% auto;
  background-image: url("@|main.jpg|");
}
body, html, .page {
  padding: 0;
  margin: 0;
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
}
h1, h2, h3, h4, h5, input {
  margin: 0;
  padding: 0;
}
ul, li {
  list-style-type: none;
}

a {
  cursor: pointer;
  text-decoration: none;
}
a:hover {
  color: initial;
  text-decoration: underline;
}

h1, h2, h3, h4, h5, h6, hr, p, blockquote, dl, dt, dd, ul, ol, li, pre, form, button, input, textarea, th, td{
  margin:0;
  padding:0;
}

.clear:after {
  content: "";
  height: 0;
  line-height: 0;
  display: block;
  visibility: hidden;
  clear: both;
}

.w1000 {
  width: 1000px;
  margin: 0 auto;
}

.w1200 {
  width: 1200px;
  margin: 0 auto;
}

.phone .no-phone, .pc .no-pc {
  display: none;
}

.fl {
  float: left;
}


.elasticstack {
	list-style: none;
	perspective: 1000px;
	perspective-origin: 50% 150%;
}


.elasticstack li {
	position: absolute;
	z-index: 1;
	transform: translate3d(0,0,-180px);
	transform-style: preserve-3d;
}

/* .elasticstack .animate {
	transition: all 0.3s ease-out;
} */

.elasticstack .move-back {
	/* http://matthewlein.com/ceaser/ */
	-webkit-transition-timing-function: cubic-bezier(0.175, 0.885, 0.470, 1); /* older webkit */
	-webkit-transition-timing-function: cubic-bezier(0.175, 0.885, 0.470, 1.515);
	transition-timing-function: cubic-bezier(0.175, 0.885, 0.470, 1.515);
}



.phone #copyright {
  display: none;
}

.phone .theme {
  background-image: url('@|phone-theme.png|');
  width: 72px;
  height: 24px;
  padding: 0;
  text-align: center;
  line-height: 24px;
  background-position-x: 3px;
  background-repeat: no-repeat;
  left: auto;
  right: 20px;
  top: 10px;
  font-size: 16px;
}
.phone .home {
  background-image: url('@|phone-bg-2.jpg|');
  background-size: 100% auto;
  background-position: 0 0;
}

.phone .home .elasticstack {
  width: 90%;
  height: 85%;
  top: -5%;
  bottom: 0;
  margin: auto;
}

.phone .home .elasticstack li {
  width: 90%;
  height: 96%;
  padding: 2% 2%;
  padding-left: 8%;
  overflow: hidden;
}

.phone .home .elasticstack li h1 {
  font-size: 20px;
  margin-top: 35px;
  margin-bottom: 10px;
}

.phone .home .elasticstack li p img {
  width: 90%;
  margin: 0 5%;
  margin-bottom: 5px;
}

.phone .home .elasticstack li p {
  font-size: 14px;
  height: calc(100% - 135px);
  overflow: auto;
}

.phone .home .pagination {
  display: block;
  width: 60px;
  height: auto;
  left: 0px;
  right: auto;
  background-image: none;
  bottom: auto;
  top: 14%;
}

.phone .home .pagination li {
  margin: 0 0;
  width: 40px;
  height: 40px;
  background-size: 35px;
  line-height: 40px;
  font-size: 20px;
}

.phone .clock-in {
  position: absolute;
  bottom: 3%;
  height: 5%;
  right: 5%;
}

.phone .audio-box {
  width: 80%;
  bottom: -71%;
  left: 0;
  right: 0;
}

.phone .audio-bar {
  width: calc(100% - 45px);
}

.phone .home .pagination li.active {
  background-size: 40px;
}

.ie .home .pagination li {
  float: left;
}