/* 这个文件里写的是全局样式,在各个页面都生效 */
body, html {
  margin: 0;
  padding: 0;
  width: 100%;
  user-select: text;
  min-width: 1200px;
  font-size: 14px;
  font-family: 'pingfang SC','helvetica neue',arial,'hiragino sans gb','microsoft yahei ui','microsoft yahei','simsun',sans-serif;
  -webkit-overflow-scrolling: touch;
  overflow-x: hidden;
}
html {
  background-color: #efdbdc;
  background-repeat: no-repeat;
  background-position: center top;
  background-size: auto 100%;
  background-image: url("@|main.jpg|");
}
body, html, .page {
  padding: 0;
  margin: 0;
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
}
h1, h2, h3, h4, h5, input {
  margin: 0;
  padding: 0;
}
ul, li {
  list-style-type: none;
}

a {
  cursor: pointer;
  text-decoration: none;
}
a:hover {
  color: initial;
  text-decoration: underline;
}

h1, h2, h3, h4, h5, h6, hr, p, blockquote, dl, dt, dd, ul, ol, li, pre, form, button, input, textarea, th, td{
  margin:0;
  padding:0;
}

.clear:after {
  content: "";
  height: 0;
  line-height: 0;
  display: block;
  visibility: hidden;
  clear: both;
}

.w1000 {
  width: 1000px;
  margin: 0 auto;
}

.w1200 {
  width: 1200px;
  margin: 0 auto;
}

.fl {
  float: left;
}


.elasticstack {
	list-style: none;
	perspective: 1000px;
	perspective-origin: 50% 150%;
}


.elasticstack li {
	position: absolute;
	z-index: 1;
	transform: translate3d(0,0,-180px);
	transform-style: preserve-3d;
}

/* .elasticstack .animate {
	transition: all 0.3s ease-out;
} */

.elasticstack .move-back {
	/* http://matthewlein.com/ceaser/ */
	-webkit-transition-timing-function: cubic-bezier(0.175, 0.885, 0.470, 1); /* older webkit */
	-webkit-transition-timing-function: cubic-bezier(0.175, 0.885, 0.470, 1.515);
	transition-timing-function: cubic-bezier(0.175, 0.885, 0.470, 1.515);
}